.load-3 .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}
.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin-left: 2px;
  z-index: 22;
  background-color: #007bff;
}
.load-wrapp {
  left: 0%;
  top: 40%;
  position: relative;
  border-radius: 5px;
  text-align: center;
  z-index: 11;
}
@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.loading {
  /* position: absolute;
  width: inherit;
  height: inherit;*/

  z-index: 1;
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: lightgray;
}
